/* Tema Oscuro */

.dark-theme li{
    color: #3498db;
}
.dark-theme header {
    background: #111e2b;
}

.dark-theme .collapsible-button {
    background-color: #3498db;
}

.dark-theme #showcase {
    background: url('../imagenf.png') repeat;
    
}



.dark-theme a:hover {
    
    color: #adb5bd; /* Color del texto al pasar el mouse */
    text-decoration: underline; /* Subrayado al pasar el mouse */
}
/* Tema Claro */
.light-theme {
    background-color: #f4f4f4;
    background: url("../ImgWhite.png") repeat;
    color: #2c3e50;
}

.light-theme header {
   background: url("../ImgWhite.png") repeat;
    color: #2c3e50;
}
.light-theme header a {
    color: black;}

.light-theme .btn {
        color: #111e2b;
    }
    

.light-theme .collapsible-button {
    background-color: #3498db;
    color: white;
}

.light-theme #showcase {
    background: url("../ImgWhite.png") repeat;
    color: black;
}
.light-theme #showcase h1 {color: #040405;}


.light-theme .section {
    background: #ecf0f1b6;
    color: #2c3e50;
}

.light-theme .section h2 {color:#040405 }

.light-theme nav ul{
    background-color: #c8cbdaa6;
    color: #01182e;
}
.light-theme section li {
    background: #ecf0f1; /* Color de fondo blanco para los elementos de la lista */
    color: #2c3e50; /* Color del texto oscuro para contraste */
    margin-bottom: 10px; /* Añade margen inferior entre los elementos de la lista */
    padding: 10px; /* Añade relleno alrededor del contenido de los elementos de la lista */
   }

.light-theme a {
   
    color: #037af1; /* Color del texto oscuro */
    text-decoration: #adb5bd; /* Sin subrayado */
}

.light-theme a:hover {
    color: #495057; /* Color del texto al pasar el mouse */
    text-decoration: underline; /* Subrayado al pasar el mouse */
}
.light-theme nav ul li a:hover {
    background-color: #8cc5ff;
    text-decoration: none;
}
.light-theme footer {
    background: #ecf0f1;
    color: #2c3e50;
}


/* --- Tema Oscuro para el Acordeón --- */
.dark-theme .accordion-item {
    background-color: #26282b;
    border: 1px solid #444;
}

.dark-theme .accordion-button {
    background-color: #070d13;
    color: #bcd9fa;
}

.dark-theme .accordion-button:hover {
    background-color: #35393d;
}

.dark-theme .accordion-button:not(.collapsed) {
    background-color: #0d2d50;
    color: #ffffff;
}

.dark-theme .accordion-body {
    background-color: #202020;
    color: #ffffff;
    border-top: 1px solid #444;
}

.dark-theme .accordion-body img {
    background-color: #26282b;
}

.dark-theme .accordion-body a.btn {
    background-color: #3498db;
    color: white;
}

.dark-theme .accordion-body a.btn:hover {
    background-color: #2980b9;
}

.dark-theme .accordion-header {
    background-color: #26282b;
}

/* --- Tema Claro para el Acordeón --- */
.light-theme .accordion-item {
    background-color: #ffffff;
    border: 1px solid #ccc;
}

.light-theme .accordion-button {
    background-color: #dfe6e9 !important;;
    color: #2c3e50 !important;;
}

.light-theme .accordion-button:hover {
    background-color: #b2bec3;
}

.light-theme .accordion-button:not(.collapsed) {
    background-color: #74b9ff;
    color: #ffffff;
}

.light-theme .accordion-body {
    background-color: #f8f9fa;
    color: #2c3e50;
    border-top: 1px solid #ccc;
}

.light-theme .accordion-body img {
    background-color: #ffffff;
}

.light-theme .accordion-body a.btn {
    background-color: #3498db;
    color: white;
}

.light-theme .accordion-body a.btn:hover {
    background-color: #2980b9;
}

.light-theme .accordion-header {
    background-color: #ffffff;
}
